@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --dot-bg: #282828;
  --dot-color: #141414;
  --dot-size: 4px;
  --dot-space: 50px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

button {
  transition: transform 0.1s, box-shadow 0.1s;
}

button:active {
  transform: scale(0.95); /* Slightly reduce the size */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Add an inset shadow */
}



